@{
    ViewData["Title"] = "Authors Page";
}
<style>
     table {
       border-spacing: 0 15px;
       align-self: center;
     }
     th {
       background-color: #4287f5;
       color: white;
     }
     th,
     td {
       width: 150px;
       text-align: center;
       border: 1px solid black;
       padding: 5px;
     }
     h2 {
       color: #4287f5;
     }
   </style>
 
<div class="text-center">
   <h2 class="display-4" style="text-align: left">Пользователи проекта</h2>
   <br>
       <table>
           <tr>
               <td>Идентификатор</td>
               <td>Имя</td>
               <td>Дата регистрации</td>
           </tr>
           @foreach (var user in Model)
               {
               <tr>
                   <td>@user.Id</td>
                   <td>@user.FirstName</td>
                   <td>@user.JoinDate</td>
               </tr>
           }
       </table>
</div>
